<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        Step 1. Upload source file
      </div>
      <div class="panel-body">
        <% if @request.file_url %>
            <%= form_for @request, html: {method: :delete} do |f| %>
                Uploaded file: <%= link_to @request.file_url, @request.file_url %>
                <video src="<%= @request.file_url %>" controls class="preview-video">
                  <p>動画を再生するにはvideoタグをサポートしたブラウザが必要です。</p>
                </video>
                <%= f.submit "Delete", class: "btn btn-warning", style: "width: 100%; margin-top: 5px" %>
            <% end %>
        <% else %>
            <%= form_for @request, html: {multipart: true} do |f| %>
                <%= f.file_field :file %>
                <%= f.submit "Upload", class: "btn btn-success", style: "width: 100%; margin-top: 5px" %>
            <% end %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Step 2. Setting output
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Format</b>
              </div>
              <div class="panel-body">
                <select id="select_format" class="selectpicker" data-live-search="true">
                  <% @formats.each do |f| %>
                      <option value="<%= f.name %>" <%= 'selected' if f.name == @request.format %> ><%= f.name %>
                        - <%= f.description %></option>
                  <% end %>
                </select>

              </div>
            </div>
          </div>
          <div class="col-xs-6">
          </div>
        </div>
      </div>
    </div>

    <!--Output-->
    <div class="panel panel-info">
      <div class="panel-heading">
        Step 3. Process and get output
      </div>
      <div class="panel-body">
        <button id="btn-process" class="btn btn-success" style="width: 100%">Process</button>
        <div id="download_file">
        </div>


      </div>
    </div>
  </div>
</div>

<div id="log_terminal" class="terminal" style="max-height: 500px">
</div>
<script>
    $(document).ready(function () {
        print_log('Welcome to ffmpeg online. Log will be printed here')
    });
    function print_log(message){
        var dt = new Date();
        var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        $("#log_terminal").append(time + '<br/>' )
        $("#log_terminal").append(message)
        $("#log_terminal").append('<br/>' )
    }

    $('#btn-process').on('click', function () {
        $.ajax({
            type: "POST",
            url: "<%=process_request_path %>",
            data: {},
            success: function (results) {
                console.log(results);
                $("#download_file").append(
                    '          Your file is already to download\n' +
                    '          <video src="'+results +'" controls></video>')
            },
            error: function (results) {
                print_log(results.responseText)

                console.log("ERROR" + results.responseText);
            }
        });
    });
    $('#select_format').on('change', function () {
        var selected = $(this).find("option:selected").val();
        set_option("format", selected)
    });

    function set_option(key, value) {
        console.log("set option")
        $.ajax({
            type: "POST",
            url: "<%=set_request_option_path %>",
            data: {
                "key": key,
                "value": value
            },
            success: function (results) {
                console.log(results);
            },
            error: function (results) {
                console.log("ERROR" + results);
            }
        });
    }

</script>