<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        Step 1. Upload source file
      </div>
      <div class="panel-body">
        <% if @request.file_url %>
            <%= form_for @request, html: {method: :delete} do |f|%>
                Uploaded file: <%= link_to @request.file_url, @request.file_url %>
                <video src="<%= @request.file_url %>" controls class="preview-video">
                  <p>動画を再生するにはvideoタグをサポートしたブラウザが必要です。</p>
                </video>
                <%= f.submit "Delete", class: "btn btn-warning" ,style: "width: 100%; margin-top: 5px" %>
            <% end %>
        <% else %>
            <%= form_for @request, html: {multipart: true} do |f|%>
                <%= f.file_field :file %>
                <%= f.submit "Upload", class: "btn btn-primary", style: "width: 100%; margin-top: 5px" %>
            <% end  %>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Step 2. Setting output
      </div>
      <div class="panel-body">
        < Setting output details>
      </div>
    </div>
  </div>
</div>