<% content_for :view_specific_css do %>
    <%= stylesheet_link_tag 'custom' %>
    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= stylesheet_link_tag 'css/bootstrap.min' %>
    <%= stylesheet_link_tag 'css/fonts.googleapis.com'%>
    <%= stylesheet_link_tag 'css/ace.min'%>
    <%= stylesheet_link_tag 'css/ace-skins.min'%>
    <%= stylesheet_link_tag 'css/ace-rtl.min'%>
    <%= stylesheet_link_tag 'jquery.terminal-1.6.4.min'%>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="widget-box">
      <div class="widget-header">
        <h4 class="widget-title">Input</h4>
      </div>

      <div class="widget-body">
        <div class="widget-main">
          <div class="form-group">
              <% if @request.file_url %>
                  <%= form_for @request, html: {method: :delete} do |f| %>
                      Uploaded file: <%= link_to @request.file_url, @request.file_url %>
                      <video id="preview_video" class="video-js" controls preload="auto" data-setup='{"fluid": true}'>
                        <source src="<%= @request.file_url %>", type="video/mp4">
                        <p class="vjs-no-js">
                          To view this video please enable JavaScript, and consider upgrading to a web browser that
                          <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                        </p>
                        <p>動画を再生するにはvideoタグをサポートしたブラウザが必要です。</p>
                      </video>
                      <%= f.submit "Delete", class: "btn btn-warning", style: "width: 100%; margin-top: 5px" %>
                  <% end %>
              <% else %>
                  <%= form_for @request, html: {multipart: true} do |f| %>
                      <%= f.file_field :file %>
                      <button type="submit" name="commit" value="Upload" class="btn btn-info" style="width: 100%; margin-top: 5px" data-disable-with="Upload">
                        <i class="ace-icon fa fa-check bigger-110"></i> Upload
                      </button>
                  <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Step 2. Setting output
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <b>Format</b>
              </div>
              <div class="panel-body">
                <select id="select_format" class="selectpicker" data-live-search="true">
                  <% @formats.each do |f| %>
                      <option value="<%= f.name %>" <%= 'selected' if f.name == @request.format %> ><%= f.name %>
                        - <%= f.description %></option>
                  <% end %>
                </select>

              </div>
            </div>
          </div>
          <div class="col-xs-6">
          </div>
        </div>
      </div>
    </div>

    <!--Output-->
    <div class="panel panel-info">
      <div class="panel-heading">
        Step 3. Process and get output
      </div>
      <div class="panel-body">
        <button id="btn-process" class="btn btn-success" style="width: 100%">Process</button>
        <div id="download_file">
        </div>
      </div>
    </div>
  </div>
</div>

<button id="clear-log" class="btn btn-block btn-sm" style="width: 100px; float: right; margin-left: 10px">x Clear</button>

<div id="log_terminal" class="terminal" style="max-height: 500px">
</div>
<script>
    function print_log(time, message) {
        var dt = new Date();
        if (time==null){
            time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        }
        $("#log_terminal").append(time + '<br/>')
        $("#log_terminal").append(message)
        $("#log_terminal").append('<br/>')
        scrollLogToBotton()
    }
    function clear_log(){
        $("#log_terminal").html('')
    }
    function scrollLogToBotton(){
        var objDiv = document.getElementById("log_terminal");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    $('#btn-process').on('click', function () {
        $.ajax({
            type: "POST",
            url: "<%=process_request_path %>",
            data: {},
            success: function (results) {
                console.log(results);
//                $("#download_file").html(
//                    '          Your file is already to download\n' +
//                    ' <video id="output_video" class="video-js" controls preload="auto" data-setup=\'{"fluid": true}\'>\n' +
//                    '                  <source src="'+results+'", type="video/mp4">\n' +
//                    '                  <p class="vjs-no-js">\n' +
//                    '                    To view this video please enable JavaScript, and consider upgrading to a web browser that\n' +
//                    '                    <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>\n' +
//                    '                  </p>\n' +
//                    '                  <p>動画を再生するにはvideoタグをサポートしたブラウザが必要です。</p>\n' +
//                    '                </video>')
            },
            error: function (results) {
                print_log(null, results.responseText)
            }
        });
    });

    $('#clear-log').on('click', function(){
        $.ajax({
            type: "POST",
            url: "<%=clear_log_path %>",
            data: {},
            error: function (results) {
                print_log(null, results.responseText)
            }
        });
    })

    $('#select_format').on('change', function () {
        var selected = $(this).find("option:selected").val();
        set_option("format", selected)
    });

    function set_option(key, value) {
        console.log("set option")
        $.ajax({
            type: "POST",
            url: "<%=set_request_option_path %>",
            data: {
                "key": key,
                "value": value
            },
            success: function (results) {
                console.log(results);
            },
            error: function (results) {
                console.log("ERROR" + results);
            }
        });
    }

    <% if @request %>
      var database = firebase.database().ref('<%= @request.id%>')
      database.on('value', function(snapshot) {
          update_log(snapshot)
      });
      function update_log(snapshot){
        clear_log()
        snapshot.forEach(function (log) {
            val = log.val()
            created = val['created']
            message = val['message']
            key = val.key
            print_log(from_timestamp_to_time(created),message)
        })
      }
      function from_timestamp_to_time(timestamp){
          var date = new Date(timestamp);
          // Hours part from the timestamp
          var hours = date.getHours();
          // Minutes part from the timestamp
          var minutes = "0" + date.getMinutes();
          // Seconds part from the timestamp
          var seconds = "0" + date.getSeconds();

          // Will display time in 10:30:23 format
          return hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
      }


    <% end %>
</script>