<!DOCTYPE html>
<html class="js">
  <head>

    <title>FFMpeg Online</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= yield :view_specific_css %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link href="http://vjs.zencdn.net/6.2.7/video-js.css" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <!-- Firebase log-->
    <script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCB0ScLmu6oeDv8xN1SwbiYWhcvIST-MI8",
            authDomain: "ffmpeglog.firebaseapp.com",
            databaseURL: "https://ffmpeglog.firebaseio.com",
            projectId: "ffmpeglog",
            storageBucket: "",
            messagingSenderId: "548793586408"
        };
        firebase.initializeApp(config);
    </script>

  </head>
  <body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
  <script src="http://vjs.zencdn.net/6.2.7/video.js"></script>
  </body>
</html>
